<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/form-style.css}"/>

        <title>Registration</title>
    </head>
    <body class="text-center">
        <form class="form-signin" th:action="@{/login}" method="post">
            <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"/>
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <div th:if="${param.error}">
                <div class="alert alert-danger" role="alert">
                    Invalid username or password!
                </div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-warning" role="alert">
                    You have been logged out.
                </div>
            </div>
            <label for="username" class="sr-only">Email address</label>
            <input type="text"
                   id="username"
                   name="username"
                   class="form-control"
                   autofocus="autofocus"
                   required=""
                   placeholder="Email Address"/>
            <label for="password" class="sr-only">Password</label>
            <input type="password"
                   id="password"
                   name="password"
                   class="form-control"
                   required=""
                   placeholder="Password"/>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"/> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="login-submit" id="login-submit">Sign in</button>
            <div class="form-group">
                <span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
            </div>
        </form>
    </body>
</html>