<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/form-style.css}"/>

        <title>Registration</title>
    </head>
    <body class="text-center">
        <form class="form-signin" th:action="@{/registration}" th:object="${user}" method="post">
            <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"/>
            <h1 class="h3 mb-3 font-weight-normal">New User Sign Up</h1>
            <div th:if="${param.success}">
                <div class="alert alert-success" role="alert">
                    You've successfully registered. Check your email to activate your account.
                </div>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasGlobalErrors()}"
                 th:each="error : ${#fields.errors('global')}"
                 th:text="${error}"></div>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}"
                 th:each="error: ${#fields.errors('name')}"
                 th:text="${error}"></div>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}"
                 th:each="error: ${#fields.errors('email')}"
                 th:text="${error}"></div>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('phone')}"
                 th:each="error: ${#fields.errors('phone')}"
                 th:text="${error}"></div>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('terms')}"
                 th:each="error: ${#fields.errors('terms')}"
                 th:text="${error}"></div>
            <label for="name" class="sr-only">Name</label>
            <input id="name" 
                   class="form-control" th:classappend="${#fields.hasErrors('name')}? 'is-invalid':''"
                   required=""
                   placeholder="Name"
                   th:field="*{name}"/>
            <label for="email" class="sr-only">E-mail</label>
            <input id="email"
                   class="form-control" th:classappend="${#fields.hasErrors('email')}? 'is-invalid':''"
                   required=""
                   placeholder="Email"
                   type="email"
                   th:field="*{email}"/>
            <label for="phone" class="sr-only">Phone</label>
            <input id="phone"
                   class="form-control" th:classappend="${#fields.hasErrors('phone')}? 'is-invalid':''"
                   required=""
                   placeholder="Phone"
                   type="text"
                   th:field="*{phone}"/>
            <div class="checkbox mb-3">
                <label>
                    <input th:field="*{terms}" th:classappend="${#fields.hasErrors('phone')}? 'is-invalid':''" type="checkbox" required="" /> 
                    <span class="text-muted">I agree with the <a href="#">terms and conditions</a> for Registration.</span>
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block rstemail" type="submit" >Register</button>
            <span class="text-muted">Already registered?</span> <a href="/" th:href="@{/login}">Login here</a>
        </form>
    </body>
</html>