<div marginwidth="0" marginheight="0">
    <table align="center" border="0" cellpadding="0" cellspacing="0"
           width="670">
        <tbody>
            <tr>
                <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                           width="670">
                        <tbody>
                            <tr>
                                <td align="left" bgcolor="#a3a3a3" valign="top"><img
                                        style="display: block" height="1" width="1"></td>
                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="670">
                                        <tbody>
                                            <tr align="left" valign="top">
                                                <td bgcolor="#a3a3a3" width="1"><img
                                                        style="display: block" height="1" width="1"></td>
                                                <td align="center" width="668">
                                                    <table align="center" border="0" cellpadding="0"
                                                           cellspacing="0" width="668">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="top" width="668">
                                                                    <table align="center" border="0" cellpadding="0"
                                                                           cellspacing="0" width="634">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left" valign="top"><img
                                                                                        style="display: block" height="16" width="1">
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top"><img id='logo_img'
                                                                                                                   src="cid:image" alt="Forkbrainz"
                                                                                                                   style="display: block"
                                                                                                                   title="Forkbrainz Technologies" align="left"
                                                                                                                   height="54" width="139"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top"><img
                                                                                        style="display: block" height="16" width="1">
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top">
                                                                                    <table align="center" border="0" cellpadding="1"
                                                                                           cellspacing="0" width="634">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td align="left" bgcolor="#345386" valign="top">
                                                                                                    <table align="center" border="0"
                                                                                                           cellpadding="18" cellspacing="0" width="632">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td align="left" bgcolor="#FFFFFF"
                                                                                                                    valign="top">
                                                                                                                    <table align="center" border="0"
                                                                                                                           cellpadding="0" cellspacing="0"
                                                                                                                           width="596">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td
                                                                                                                                    style="background-color: #ff962a; border-collapse: collapse; border-spacing: 0; font-family: Arial, Helvetica, sans-serif; font-size: 18px; height: 20px; line-height: 20px; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0; padding-bottom: 8px; padding-left: 18px; padding-right: 18px; padding-top: 8px; text-align: center; vertical-align: middle"
                                                                                                                                    align="center" valign="middle">
                                                                                                                                    <span
                                                                                                                                        style="color: #ffffff; text-decoration: none">Payment
                                                                                                                                        Receipt</span>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td align="left" valign="top"
                                                                                                                                    width="596"><font
                                                                                                                                        style="font-size: 12px" color="#58595b"
                                                                                                                                        face="Arial, Helvetica, sans-serif">
                                                                                                                                    <br /> Dear <strong id="userName"></strong>
                                                                                                                                    </font></td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td align="left" valign="top"><img
                                                                                                                                        style="display: block" height="5"
                                                                                                                                        width="1"></td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td align="left" valign="top"><font
                                                                                                                                        style="font-size: 12px" color="#58595b"
                                                                                                                                        face="Arial, Helvetica, sans-serif">
                                                                                                                                    Thank you for using NetComp. Your
                                                                                                                                    transaction was successful. Your subscription is now valid up to <strong id="newExpDate"></strong>. We hope
                                                                                                                                    you had a wonderful experience at
                                                                                                                                    NetComp. Please find below your
                                                                                                                                    transaction details. </font></td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td align="left" valign="top"><img
                                                                                                                                        style="display: block" height="15"
                                                                                                                                        width="1"></td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td align="left" valign="top">
                                                                                                                                    <table border="0" cellpadding="1"
                                                                                                                                           cellspacing="0" width="596">
                                                                                                                                        <tbody>
                                                                                                                                            <tr>
                                                                                                                                                <td align="left" bgcolor="#669997"
                                                                                                                                                    valign="top">
                                                                                                                                                    <table align="center" border="0"
                                                                                                                                                           cellpadding="15" cellspacing="0"
                                                                                                                                                           width="594">
                                                                                                                                                        <tbody>
                                                                                                                                                            <tr>
                                                                                                                                                                <td bgcolor="#E0EBEA"
                                                                                                                                                                    valign="top"><strong>
                                                                                                                                                                        <table
                                                                                                                                                                            style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #58595b; font-weight: bold; margin: auto;">
                                                                                                                                                                            <tbody>
                                                                                                                                                                                <tr>
                                                                                                                                                                                    <td style="padding: 8px; padding-right: 50px">Date:</td>
                                                                                                                                                                                    <td style="padding-left: 50px" id="txnDate"></td>
                                                                                                                                                                                </tr>
                                                                                                                                                                                <tr>
                                                                                                                                                                                    <td style="padding: 8px; padding-right: 50px">Transaction ID:</td>
                                                                                                                                                                                    <td style="padding-left: 50px" id="txnId1"></td>
                                                                                                                                                                                </tr>
                                                                                                                                                                                <tr>
                                                                                                                                                                                    <td style="padding: 8px; padding-right: 50px">Transaction Description:</td>
                                                                                                                                                                                    <td style="padding-left: 50px" id="txnDesc"></td>
                                                                                                                                                                                </tr>
                                                                                                                                                                                <tr>
                                                                                                                                                                                    <td style="padding: 8px; padding-right: 50px">Amount:</td>
                                                                                                                                                                                    <td style="padding-left: 50px" id="txnAmount"></td>
                                                                                                                                                                                </tr>
                                                                                                                                                                                <tr>
                                                                                                                                                                                    <td style="padding: 8px; padding-right: 50px">Validity:</td>
                                                                                                                                                                                    <td style="padding-left: 50px" id="validity"></td>
                                                                                                                                                                                </tr>
                                                                                                                                                                            </tbody>
                                                                                                                                                                        </table>
                                                                                                                                                                    </strong></td>
                                                                                                                                                            </tr>
                                                                                                                                                        </tbody>
                                                                                                                                                    </table>
                                                                                                                                                </td>
                                                                                                                                            </tr>
                                                                                                                                        </tbody>
                                                                                                                                    </table>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td align="left" valign="top"><img
                                                                                                                                        style="display: block" height="15"
                                                                                                                                        width="1"></td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td align="left" valign="top"><img
                                                                                                                                        style="display: block" height="15"
                                                                                                                                        width="1"></td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td align="left" valign="top"><font
                                                                                                                                        style="font-size: 12px" color="#58595b"
                                                                                                                                        face="Arial, Helvetica, sans-serif">
                                                                                                                                    Your Communication ID for this transaction is <strong id="txnId2"></strong>. Please refer this Communication ID while contacting our Customer Care.
                                                                                                                                    </font></td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td align="left" valign="top"><img
                                                                                                                                        style="display: block" height="15"
                                                                                                                                        width="1"></td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td align="left" valign="top"><font
                                                                                                                                        style="font-size: 12px" color="#58595b"
                                                                                                                                        face="Arial, Helvetica, sans-serif">Is
                                                                                                                                    there anything you want to share with
                                                                                                                                    us? do write to <a
                                                                                                                                        href="mailto:customercare@forkbrainz.com"
                                                                                                                                        style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #22a7f0; text-decoration: none"
                                                                                                                                        target="_blank">customercare@forkbrainz.com
                                                                                                                                    </a>
                                                                                                                                    </font></td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td align="left" valign="top"><img
                                                                                                                                        style="display: block" height="16"
                                                                                                                                        width="1"></td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td align="left" valign="top"><font
                                                                                                                                        style="font-size: 12px" color="#58595b"
                                                                                                                                        face="Arial, Helvetica, sans-serif">Assuring
                                                                                                                                    you of our best attention at all
                                                                                                                                    times.</font></td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td align="left" valign="top"><img
                                                                                                                                        style="display: block" height="26"
                                                                                                                                        width="1"></td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td align="left" valign="top"><font
                                                                                                                                        style="font-size: 12px" color="#58595b"
                                                                                                                                        face="Arial, Helvetica, sans-serif">Best
                                                                                                                                    regards,<br> <strong>Forkbrainz
                                                                                                                                        Team</strong>
                                                                                                                                    </font></td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top"><img
                                                                                        style="display: block" height="16" width="1"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td bgcolor="#a3a3a3" width="1"><img
                                                        style="display: block" height="1" width="1"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" bgcolor="#a3a3a3" valign="top"><img
                                        style="display: block" height="1" width="1"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>